<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row text-center">
      <footer role="contentinfo">
        <p><small>Copyright &copy; Erlan Rey Biyok</small></p>
      </footer>
    </div>
  </div>
</nav>