@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 70px;
  margin-left: 10px;
  
}

#error_explanation h2 {
  font-size: 120%;
}

.signed-in-user {
  padding-top: 10px;
  padding-right: 20px;
}

#rightuser {
  padding-top: 15px;
  padding-right: 10px;
  font-size: 1em;
  font-weight: bold;
}
.low {
  background-color: #ff8080;
}
//TABLE INDEX

th {
  background-color: #b3b3ff;
}
 
 td {
   line-height: -1;
 }
 
 //INDEX CONTROLS TABLE
.btn-sm, .btn-group-sm > .btn {
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1;
    border-radius: 4px;
}

tr > th, .table > tfoot > tr > td {
    padding: 6px;
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
}



